{% load static %}
<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            {% if user.is_superuser %}
            <a class="nav-link" href="{% url 'allusers' %}">All users</a>
            {% else %}
            {% endif %}
        </li>
        <li class="nav-item px-3">
            {% if user.is_superuser %}
           <a class="nav-link" href="{% url 'salarylog' %}">Salary Records</a>
            {% else %}
            {% endif %}
        </li>
        
    </ul>
   
    <ul class="nav navbar-nav ml-auto">
     
    <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
    {% if user.is_authenticated %}
    <a class="btn btn btn-link" href="#">Hi {{ user.username }}!</a>
    <a class="btn btn btn-outline-warning" href="{% url 'logout' %}">logout</a>
    {% else %}
      <a class="btn btn btn-link" href="#">You are not logged in</a>
      <a class="btn btn btn-outline-warning" href="{% url 'login' %}">login</a>
    {% endif %}
    </li>
    </ul>

    {% block navbar %}
    {% endblock %}

</header>