{% load static %}
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"><i class="icon-speedometer"></i> Dashboard</a>
            </li>
           
            {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}"><i class="icon-user-follow"></i> Add User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'bank' %}"><i class="fa fa-file"></i> Add Bank details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'salary' %}"><i class="fa fa-usd"></i> Payroll</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'job' %}"><i class="fa fa-tasks"></i> Add Designation</a>
            </li>
            
  
  
            {% else %}
 
            {% endif %}
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>

    {% block sidebar %}
    {% endblock %}
</div>